# Lab Session: Week 3 - Python Basics: List, Tuple, and Range
## Lists

In [7]:
# Numbers in a list
list_a = [1,2,3,4]
# A list of strings
list_b = ['strings', 'in', 'a', 'list']
# A list of lists, each sublist with numbers
list_c = [[1,2,3],[4,5,6],[7,8,9]]
# An empty list to use later
list_d = []
# A range converted in a list (this will be explained more at a later date)
list_e = list(range(10))
print(list_b)
print(list_e)

['strings', 'in', 'a', 'list']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Lists have the useful property that they are mutable, so we can add items, remove items freely. Note that this can also be a problem as you can accidentally change a list - such as modifying a list during a for loop.

Using the variables/lists above, what output would you expect from the statements below? If you're not sure, try to guess, then try it out and see if you were right. As these are single line statements, it may be easier to do this in the console. As these are simple statements, we expect you to take a bit of time to think and then type them in - therefore the whole list below should only take 5-10 minutes.

In [17]:
# Adding items to a list
list_a.append(5)
list_a.insert(0,0)
list_a += [6]
# Removing items
# list_b.remove('in')
# del(list_b[0])
# Length of a list
print(len(list_c))
# Length of a sublist
print(len(list_c[0]))
# Finding where something is in a list
list_a.index(1)
# list_c.index(1) # Careful!
# Moving items around
list_a.sort()
list_a.sort(reverse=True)
list_a.reverse()
# Append vs extend
list_d.append(1) # Append a single number
list_d.append([7,2]) # Append using a list of 2 numbers
list_d.extend([3,5]) # Extend using a list of 2 numbers
# Slicing
list_e[:]
list_e[:5]
list_e[5:]
list_e[-1]
# Modifying items in a list
list_e[:2] *= 2 # This is why we need to be careful multiplying lists/other objects
list_e[2:] = list(range(2,12)) # Replace items in a list

3
3

## Exercise 1: Concatenate lists
Concatenate the following lists by using three different methods:
* `+ operator
* sum() function
* itertools module

lista = [23,689,56,89,143,897]

listb = [56.8,89,898,45,897,569]

listc = [57,1,2,3,5,2,11]

In [20]:
lista = [23,689,56,89,143,897]
listb = [56.8,89,898,45,897,569]
listc = [57,1,2,3,5,2,11]

fin_plus = lista + listb + listc 
print(fin_plus)
fin_sum = sum([lista,listb,listc], [])
print(fin_sum)\

import itertools
fin_chain = itertools.chain(lista,listb,listc)
print(list(fin_chain))

[23, 689, 56, 89, 143, 897, 56.8, 89, 898, 45, 897, 569, 57, 1, 2, 3, 5, 2, 11]
[23, 689, 56, 89, 143, 897, 56.8, 89, 898, 45, 897, 569, 57, 1, 2, 3, 5, 2, 11]
[23, 689, 56, 89, 143, 897, 56.8, 89, 898, 45, 897, 569, 57, 1, 2, 3, 5, 2, 11]

## Exercise 2: Flatten a nested list of integers and calculate statistical measures
Following is a nested list a. It can also be called a 2-Dimensional list or a list of lists.

a = [[4, 8, 6], [3, 2, 8], [2, 3, 3, 8]]

* Step1: Flatten the nested list. In other words, transform the 2-Dimensional list into a 1-Dimensional list.
Hint: use sum function for concatenation sum(a, []) to flatten the nested list
* Step 2: Calculate maximum, minimum, and mean.
* Step 3: Sort the flattened nested list.

In [23]:
a = [[4, 8, 6], [3, 2, 8], [2, 3, 3, 8]]
flat_list = sum(a, [])
print(flat_list)
# maximum
mx = max(flat_list)
print('max:', mx)
# minimum
mn = min(flat_list)
print('min:', mn)
# mean 
sm = sum(flat_list)/len(flat_list)
print('mean:', sm)

[4, 8, 6, 3, 2, 8, 2, 3, 3, 8]
max: 8
min: 2
mean: 4.7

### Tuple
A tuple is immutable, whereas a list is mutable. This property makes your code safer if a programmer wants to protect the data from accidental changes.

* Elements can't be added in a tuple. Tuples have no append or extend method.
* Elements can't be removed from a tuple. Tuples have no remove or pop method.
* Elements can be accessed elements in a tuple, since this doesn’t change the tuple.
* The existence of an element can be checked by utilizing in operator.

Try following the example from the lecturer slides. This example demonstrates that a tuple can be modified when it is transformed into a list.

In [24]:
####Change Tuple
a = ('Income', 'cash flow', 'currency', 8000.458)

#convert tuple to list
a_list = list(a) 

#assign new value to a desired index in the list
a_list[2] = "tax" #new value at index [2]
print(a_list)

#assign values in multiple index in the line by a single line of code
a_list[0],a_list[3] = 'monthly income',9756.10 #new value at index [0] and [3]
print(a_list)

#add single item by append()
a_list.append('interest rate1')

#add multiple items by extend([])
a_list.extend(['interest rate2', 23.78,'code'])

#convert list back to tuple
a = tuple(a_list) 
print(a)

['Income', 'cash flow', 'tax', 8000.458]
['monthly income', 'cash flow', 'tax', 9756.1]
('monthly income', 'cash flow', 'tax', 9756.1, 'interest rate1', 'interest rate2', 23.78, 'code')

## Exercise 3: Access elements in tuple
Access elements in the following tuples to calculate total net earnings and cash flow for the past three months. Each tuple represents a month.

Use index operator [] to access the tuple. Perform addition + operation to calculate total net earnings and cash flow.

Net earning and cash flow is in GBP (£).

`month1 = (('net earning', 125633.11),('cash flow', 7406.23))`

`month2 = (('net earning', 123711.12),('cash flow', 8000.458))`

`month3 = (('net earning', 32487.23),('cash flow', 5000.458))`

In [26]:
month1 = (('net earning', 125633.11),('cash flow', 7406.23))
month2 = (('net earning', 123711.12),('cash flow', 8000.458))
month3 = (('net earning', 32487.23),('cash flow', 5000.458))

# accessing with index
tot_net_earning = month1[0][1] + month2[0][1] + month3[0][1]
print('Total net earning:', tot_net_earning)

tot_cash_flow = month1[1][1] + month2[1][1] + month3[1][1]
print('Total cash flow: ', tot_cash_flow)

Total net earning: 281831.45999999996
Total cash flow: 20407.145999999997

### range
Range returns an immutable sequence of integer numbers.

In [32]:
#generates a sequence of numbers from 5 to 10
range_a = range(5, 11)
print(*range_a) # * "unpacks" an iterable

#transform range() to list() to print the results
list_a = list(range_a) 
print(list_a)

#transform range() to tuple() to print the results
tuple_a = tuple(range_a)
print(tuple_a)

#generates a sequence of numbers from 5 to 10 in reverse order
range_b = reversed(range(5, 11))
list_b = list(range_b) 
print(list_b)

#generates a sequence of numbers from 1 to 20 with an increment of 2
#using range(start, stop, step): postive integer
list_c = list(range(1, 20, 2))
print(list_c)

5 6 7 8 9 10
[5, 6, 7, 8, 9, 10]
(5, 6, 7, 8, 9, 10)
[10, 9, 8, 7, 6, 5]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## Exercise 4:
1. generates a list `list_a` of sequence of numbers from 1 to 100 with an increment of 10
2. generates a list `list_b` of sequence of numbers from 300 to 500 with an increment of 30
3. Declare a empty list `listoflists`
4. Use either `append()` or `extend()` functions to add lists `list_a` and `list_b` in `listoflists` to make 2-Dimension nested list.

Desired result:

`[[1, 11, 21, 31, 41, 51, 61, 71, 81, 91], [300, 330, 360, 390, 420, 450, 480]]`

In [49]:
list_a = range(1,100,10)
print(*list_a)
list_b = range(300,500,30)
print(*list_b)
listoflists = []
print(listoflists)

# using append
list_ap = list(list_a)
listoflists.append(list_ap)
print(listoflists)
list_bp = list(list_b)
listoflists.append(list_bp)
print("With append: ", listoflists)

# using extend
listoflists1 = []
list_ae = list(list_a)
list_be = list(list_b)
listoflists1.extend([list_ae,list_be])
print("With extend: ", listoflists1)

1 11 21 31 41 51 61 71 81 91
300 330 360 390 420 450 480
[]
[[1, 11, 21, 31, 41, 51, 61, 71, 81, 91]]
With append:  [[1, 11, 21, 31, 41, 51, 61, 71, 81, 91], [300, 330, 360, 390, 420, 450, 480]]
With extend:  [[1, 11, 21, 31, 41, 51, 61, 71, 81, 91], [300, 330, 360, 390, 420, 450, 480]]

## Exercise 5
Last week we use python to calculate present value (PV) of annuity. Use same code to do following:

* Create a empty list `annuity = []`.
* Calculate present value (PV) of annuity for three different people and round-off the values to three decimal points.
* Insert the present value (PV) of annuity to the empty list by `extend([])` function.
* Find maximum and minimum value in list `annuity`

The present value (PV) of an annuity due takes into account the fact that payments are made at the beginning rather than the end of each period.

**Person 1:** Suppose person 1 pay `£1,000` a month in rent. By calculating present value (PV) of an annuity due we want find what the next five months would cost him/her, in terms of present value, assuming that the money in an account earning `5%` interest.

**Person 2:** Suppose person 1 pay `£2,300` a month in rent. By calculating present value (PV) of an annuity due we want find what the next five months would cost him/her, in terms of present value, assuming that the money in an account earning `5%` interest.

**Person 3:** Suppose person 1 pay `£750` a month in rent. By calculating present value (PV) of an annuity due we want find what the next five months would cost him/her, in terms of present value, assuming that the money in an account earning `5%` interest.

Use the following formula to calculate this amount.

In [60]:
C = 1000
i = 0.05
n = 5
PV = C * ((1 - (1 + i) ** -n)/i) * (1 + i)

PV1 = round(PV,3)
print("Person 1 PV: ", PV1)

C = 2300
i = 0.05
n = 5
PV = C * ((1 - (1 + i) ** -n)/i) * (1 + i)

PV2 = round(PV,3)
print("Person 2 PV: ", PV2)

C = 750
i = 0.05
n = 5
PV = C * ((1 - (1 + i) ** -n)/i) * (1 + i)

PV3 = round(PV,3)
print("Person 3 PV: ", PV3)

annuity = []
annuity.extend([PV1,PV2,PV3])
print("annuity: ", annuity)

mx = max(annuity)
print('maximum value: ', mx)

mn = min(annuity)
print('minimum value: ', mn)

print('Present value of Annuity for person1, person2, person3 is: ',PV1,',',PV2,', and',PV3, ',respectively.')


# using a loop
c_values = [1000, 2300, 750]
i = 0.05
n = 5
pv_values = []
for v in c_values:
    pv = v * ((1 - (1 + i) ** -n)/i) * (1 + i)
    pv_values.append(round(pv,3))

print("PV values using loops: ", pv_values)

Person 1 PV:  4545.951
Person 2 PV:  10455.686
Person 3 PV:  3409.463
annuity:  [4545.951, 10455.686, 3409.463]
maximum value:  10455.686
minimum value:  3409.463
Present value of Annuity for person1, person2, person3 is:  4545.951 , 10455.686 , and 3409.463 ,respectively.
PV values using loops:  [4545.951, 10455.686, 3409.463]